
.product-card{
    background:#fff;
    border-radius:5px;
    border:1px solid #eee;
    overflow:hidden;
    transition:.3s;
}
.product-image{
    height: 200px;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:15px;
}
.product-image img{
    width:150px;
    height:150px;
    object-fit:contain;
}
.product-info{
    padding:15px;
}

.product-info h5{
    font-size:18px;
    font-weight:600;
    margin-bottom:8px;
}

.product-info h4{
    color:#0d6efd;
    font-size:20px;
    font-weight:bold;
    margin-bottom:15px;
}

.product-info button{
    width:100%;
    border-radius:5px;
}